body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/woodgrain.png");
    background-repeat: no-repeat;
    color: black;
    width: 100%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    position: absolute; 
    left: 390px;
}

img {
    width:100px;
    padding: 10px;
    cursor: pointer
}

li { 
    list-style-type: none;
    display: inline;
}

button {
    list-style: none;
    margin: 5pt;
    padding: 3pt;
    color: black;
    background-color: rgb(245, 166, 19);
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10%;
    border: 2px solid #502c06;
    box-shadow: none;
    outline: none;
}

.cardTable {
    border: solid 2px #502c06;
    border-radius: 5px;
    height: 580px;
    display: inline-block;
    margin-left: 27px;
    width: 750px; 
    background-color:#35654d;
}

.cardDisplay {
    padding: 15px;
}

.messageDisplay {
    padding-left: 43px;
    font-size: 2.0em;
}

.selectedForDiscard {
    border: 2px solid rgb(155, 32, 32);
    padding: 8px;
    border-radius: 10%;
}

.settings {
    position: absolute; 
    left: 715px;
    font-weight: bold;
    cursor: pointer
}

.pageNotFound {
    position: static;
}

.announce {
    font-size: 1.2em;
}


@media screen and (max-width: 375px) {
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.0em;
        position: inline; 
        left: 25px;
    }
    
    ul {
        padding: 0;
        list-style-type: none;
    }

    .buttons li { 
        width: 20%;
        max-width: 375px;
        white-space: nowrap;
    }

    button {
        font-size: 36px;
        text-align: center;
        margin: 10px 10px 10px 0px;
    }

    .cardTable {
        position: absolute;
        top: 280px;
        width: 357px;
        margin-left: 0px;
        height: 400px;
        padding: 0;
    }

    .playerHandDisplay {
        padding: 5px;
    }
    
    .dealerHandDisplay {
        padding: 5px;
    }

    img {
        width:49px;
        margin: 0;
        /* margin: 1px 1px 1px 1px; */
        cursor: pointer
    }

    .messageDisplay {
        position: absolute;
        top: 675px;
        padding: 8px;
        font-size: 2.0em;
    }

    .settings {
        position: absolute;
        left: 15px;
        bottom: 0px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer
    }
}
